.small_image {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 100px;
}

.crossbow_names {
  margin-left: 150px;
  padding-top: 40px
}

.right_box_rows {
  font-size: 20px;
  height: 110px;
  border-bottom: 1px solid black;
}

.popular_crossbow_heading {
  color: white;
  height: 20px;
  background-color: black;
  padding: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid black;
}

.left_box {
  width: 780px;
  margin-left: 15px;
  float: left;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  background-color: #ffffff;
  opacity: 0.9;
  /* for shadow effect */
  -webkit-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.56);
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.56);
}

.right_box {
  width: 380px;
  height: 850px;
  background-color: #ffffff;
  margin-left: 860px;
  border: 2px solid black;
  opacity: 0.9;
  /* for shadow effect */
  -webkit-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.56);
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.56);
}

.format_body {
  background-color: #76858a;
  margin-left: 85px
}

.jump_to {
  padding-left: 20px;
  font-size: 35px;
}

.jump_to:hover {
  color: red;
}

.for_header {
  height: 503px;
  width: 1230px;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  background-color: black;
  margin-bottom: 20px;
  color: silver;
  text-align: center;
  font-size: 40px;
}

.image_header {
  margin-top: -264px;
  width: 1240px;
  opacity: 0.4;
}

.cool_crossbows {
  margin-top: 220px;
}

.image_header:hover {
  opacity: 0.8;
}